# common folders to ignore (folders generated when using jupyterlab & python)

**/.ipynb_checkpoints/
**/.virtual_documents/
**/__pycache__/
**/Ref**/
**/*.sh
**/*.code**
**/.idea/
**/.xdp**
**/datasets-**
**PDFs/**
**/**.epub
**/**Prev**
**/**Tutorials**
**/test**
**/data/**.zip
**/**.db
