# common folders to ignore (folders generated when using jupyterlab & python)

**/.ipynb_checkpoints/
**/.virtual_documents/
**/__pycache__/
**/*.sh
**/*.code**
**/.idea/
**/.xdp**
**/data/**.zip
**/**.db
